{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "esmodules": true
        }
      }
    ]
  ],
  "sourceMaps": true,
  "highlightCode": true
}
