{
    "ignore": ["'**/*.test.js'"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs"],
  "sourceMaps": true,
  "highlightCode": true
}
